.floating-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 1rem 2rem;
  color: var(--color-white);
  font-size: 1.5rem;
  background-color: var(--color-black);
}

.hover:hover {
  color: var(--color-orange);
}

@media (max-width: 425px) {
  .floating-nav {
    border-top: 1px solid var(--text);
    border-radius: 0;
    width: 100vw;
  }
}