.section-3{
    background-color: var(--color-black-secondary);
}
.contain{
    display: flex;
    gap: 3rem;
    scroll-behavior: smooth;
    overflow-x: auto;
    position: relative;
}

.contain::-webkit-scrollbar {
    display: none;
  }

.cardiv{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: var(--color-black);
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}

.snaps-inline > *{
    scroll-snap-align: start;
}

.scroll-btn{
    height: 3rem;
    width: 3rem;
    background-color: var(--color-orange);
    color: var(--primary);
    border: none;
    border-radius: 50%;
}

.btn-right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.btn-left{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.scroll{
    position: relative;
    
}

@media screen and (max-width: 414px) {
    .contain{
        display: flex;
        gap: 1rem;
        scroll-behavior: smooth;
        overflow-x: auto;
        position: relative;
    }
    .scroll-btn{
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .cardiv{
        padding: .5rem 1.3rem;
    }
    .scroll-btn{
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
    }
    
    
}
